body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.board-row:after {
  clear: both;
  content: '';
  display: table;
}

.square {
  background: #ab2828;
  border: 1px solid #999;
  float: left;
  font-size: 30px;
  font-weight: bold;
  line-height: 50px;
  height: 50px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 50px;
}

.game-wrapper{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.game{
  display: flex;
  gap: 50px;
  align-items: center;
  height: auto;
}

.overal-status{
  position: fixed;
  top: 0;
  font-size: 35px;
  font-weight: bold;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin: 50px;
  color: transparent;
  background-image: linear-gradient(to right, #ab2828, #000000);
  background-clip: text;
}

.game-info li button{
  color: black;
  background-color: #ab2828;
  border-radius: 10px;
  padding: 5px 10px;
  margin: 5px;
  cursor: pointer;
  font-size: 14px;
  transition: background-color 0.3s ease;
}

.game-info li button:hover{
    background-color: #ff6b01;
}

.game-info li button.current-move {
  background-color: transparent;
  background-image: linear-gradient(to right, #ab2828, #000000);
  color: #b0bb0a;
  pointer-events: none; 
  font-weight: bold;
}

.game-info ol{
  padding: 0;
  list-style: none;
  margin: 0;
}